Opencode not handling expired refresh_tokens

### Description

The current implementation of the OAuth client does not gracefully handle an invalid_grant error response from the /token endpoint. When the authorization server returns a 400 Bad Request with error: "invalid_grant", the client remains in an unauthenticated state without triggering a new authorization flow.


From RFC 6749 § 5.2

```
invalid_grant
The provided authorization grant (e.g., authorization code, resource owner credentials) or refresh token is invalid, expired, revoked... The authorization server responds with an HTTP 400 (Bad Request)
```

Opencode does not handle this and remains in a error state, until users manually have to logout and auth again.
Instead, it should start a new authorization flow through the browser

### Plugins

_No response_

### OpenCode version

1.2.6

### Steps to reproduce

1. Setup a MCP server with oauth that returns refresh_tokens that are valid for 5m, and access tokens valid for 1m.
2. Add this mcp server to opencode
3. `opencode mcp auth` and complete the initial authorization flow
4. wait 6 minutes
5. `opencode mcp auth`, server credentials show as expired. When saying OK to reauthenticate, it fails as the refresh token has expired.

### Screenshot and/or share link

<img width="1437" height="632" alt="Image" src="https://github.com/user-attachments/assets/dfc21853-57f3-48b4-89b3-5964adbda182" />

### Operating System

Linux x64

### Terminal

gnome terminal